<section class="section brands py-5">
  <div class="container">
    <div class="row">
      {{ with .content.title }}
        <div class="col-12">
          <h3 class="fs-1 fw-bold text-center text-secondary pb-3">{{ . }}</h3>
        </div>
      {{ end }}
    </div>
    <div class="row align-items-center justify-content-center flex-column flex-md-row">
      {{ range .content.items }}
      <div class="col px-3 my-2 text-center">
        <a href="{{ .url }}" target="_blank">
          <img src="{{ .image }}" class="img-fluid" alt="Partner logo">
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<style>
  @media (max-width: 768px) {
    .brands .row.align-items-center.justify-content-center {
      display: flex;
      flex-direction: column;
      max-width: 70%; /* Adjust the size as needed */
      margin: 0 auto; /* Center the images */
    }
  }
</style>