<section class="section hero py-5">
  <div class="container">
    <div class="row flex-column flex-xl-row-reverse">
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center order-2 order-xl-1">
        {{ partial "utilities/image-fluid" "images/hero-image.png" }}
      </div>
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center order-1 order-xl-2">
        {{ with .content.title }}
          <h3 class="hero-title fw-bold display-1 text-primary text-center text-xl-start pb-4">{{ . | markdownify }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-center text-black-61 text-xl-start pb-4">{{ . | markdownify }}</p>
        {{ end }}
      </div>
      <div class="col-12 d-flex flex-column justify-content-center align-items-center order-3 order-xl-3">
        {{ with .content.buttonPrimary }}
          <a class="btn btn-primary text-light px-4 my-1" href="{{ .url }}">{{ .label }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Section</title>
  <style>
    @media (max-width: 768px) {
      .order-1 {
        order: 1;
      }

      .order-2 {
        order: 2;
      }

      .order-3 {
        order: 3;
      }
    }
  </style>
</head>
