<section class="section portfolio">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12">
        <h3 class="fs-1 fw-bold text-center text-secondary pb-3">Capybara en medios</h3>
      </div>
    </div>

    {{ range .content }}
    <div class="row portfolio-feature">
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
        {{ with .pretitle }}
          <p class="text-danger fw-semibold mb-2">{{ . }}</p>
        {{ end }}
        {{ with .title }}
          <h3 class="fs-1 fw-bold text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .text }}
          <p class="text-black-61 pb-3">{{ . }}</p>
        {{ end }}
        <div class="">
          {{ range .buttons }}
            <a class="text-decoration-none me-3" href="{{ .url }}" target="_blank">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center align-items-center">
        <a href="{{ .imageUrl }}" target="_blank">
          <div class="image-cropper">
            <img src="{{ .image }}" class="img-fluid" alt="Imagen de {{ .title }}">
          </div>
        </a>
        <br>
        <br>
      </div>
    </div>
    {{ end }}
  </div>
  <br>
</section>

<style>
  .image-cropper {
    position: relative;
    overflow: hidden;
    width: 60%;
    padding-top: 75%; /* This maintains the aspect ratio */
  }

  .image-cropper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  @media (max-width: 768px) {
    .video-container {
      padding-bottom: 60%; /* Aspect ratio */
      max-width: 100%;
    }
  }
</style>
